<tr>
  <th colspan="4">Valores iniciales de los registros</th>
</tr>
<tr>
  <td class="registro">R0</td>
  <td class="registro"><input tabindex="2" type="text" size="4" [(ngModel)]="registros[0]" (change)="actualizar(0)" /></td>
  <td class="registro">R4</td>
  <td class="registro"><input tabindex="6" type="text" size="4"  [(ngModel)]="registros[4]" (change)="actualizar(4)"/></td>
</tr>
<tr>
  <td class="registro">R1</td>
  <td class="registro"><input tabindex="3" type="text" size="4" [(ngModel)]="registros[1]" (change)="actualizar(1)"/></td>
  <td class="registro">R5</td>
  <td class="registro"><input tabindex="7" type="text" size="4"  [(ngModel)]="registros[5]" (change)="actualizar(5)"/></td>
</tr>
<tr>
  <td class="registro">R2</td>
  <td class="registro"><input tabindex="4" type="text" size="4" [(ngModel)]="registros[2]" (change)="actualizar(2)"/></td>
  <td class="registro">R6</td><td class="registro">
    <input tabindex="8" type="text" size="4" [(ngModel)]="registros[6]" (change)="actualizar(6)"/></td>
</tr>
<tr>
  <td class="registro">R3</td>
  <td class="registro"><input tabindex="5" type="text" size="4" [(ngModel)]="registros[3]" (change)="actualizar(3)"/></td>
  <td class="registro">R7</td>
  <td class="registro"><input tabindex="9" type="text" size="4"  [(ngModel)]="registros[7]" (change)="actualizar(7)"/></td>
</tr>
