<table>
  <tr>
    <th colspan="3">Valores iniciales de memoria</th>
  </tr>
  <tr>
    <th>Dirección</th>
    <th>Contenido</th>
    <th>Mirar</th>
  </tr>
  <tr>
    <td class="direccion" align="center">
      <input tabindex="10" type="text" size="4" name="dir0" value="1000"/>
    </td>
    <td class="contenido">
      <input tabindex="11" type="text" size="4" name="cont0" value="0000"/>
    </td>
    <td class="contenido">
      <input tabindex="12" type="checkbox" name="watch0" value="1"/>
    </td>
  </tr>
  <tr>
    <td class="direccion" align="center">
      <input tabindex="13" type="text" size="4" name="dir1" value="0000"/>
    </td>
    <td class="contenido">
      <input tabindex="14" type="text" size="4" name="cont1" value="0000"/>
    </td>
    <td class="contenido">
      <input tabindex="15" type="checkbox" name="watch1" value="1"/>
    </td>
  </tr>
  <tr>
    <td class="direccion" align="center">
      <input tabindex="16" type="text" size="4" name="dir2" value="0000"/>
    </td>
    <td class="contenido">
      <input tabindex="17" type="text" size="4" name="cont2" value="0000"/>
    </td>
    <td class="contenido">
      <input tabindex="18" type="checkbox" name="watch2" value="1"/>
    </td>
  </tr>
  <tr>
    <td class="direccion" align="center">
      <input tabindex="19" type="text" size="4" name="dir3" value="0000"/>
    </td>
    <td class="contenido">
      <input tabindex="20" type="text" size="4" name="cont3" value="0000"/>
    </td>
    <td class="contenido">
      <input tabindex="21" type="checkbox" name="watch3" value="1"/>
    </td>
  </tr>
  <tr>
    <td class="direccion" align="center">
      <input tabindex="22" type="text" size="4" name="dir4" value="0000"/>
    </td>
    <td class="contenido">
      <input tabindex="23" type="text" size="4" name="cont4" value="0000"/>
    </td>
    <td class="contenido">
      <input tabindex="24" type="checkbox" name="watch4" value="1"/>
    </td>
  </tr>
</table>
