<h2>Resultado (traza desactivada)<a href="#">Ocultar</a></h2>
<div class="result">
  <table class="trace">
    <tr>
      <th>&nbsp;</th>
      <th colspan="9">Registros</th>
      <th>SR</th>
    </tr>
    <tr>
      <th>Instrucción ejecutada</th>
      <th class="registro">R0</th>
      <th class="registro">R1</th>
      <th class="registro">R2</th>
      <th class="registro">R3</th>
      <th class="registro">R4</th>
      <th class="registro">R5</th>
      <th class="registro">R6</th>
      <th class="registro">R7</th>
      <th class="PC">PC</th>
      <th class="flags">Z·C·O·S</th>
    </tr>
    <tr class="trace">
      <td class="mnemonico Estado inicial">Estado inicial</td>
      <td class="registro">0000</td>
      <td class="registro">0009</td>
      <td class="registro">0000</td>
      <td class="registro">0000</td>
      <td class="registro">0000</td>
      <td class="registro">0000</td>
      <td class="registro">0000</td>
      <td class="registro">0205</td>
      <td class="PC">0100</td>
      <td class="flags"> 0·0·0·0</td>
    </tr>
  </table>
  <p class="parada">Se alcanzó el final del programa (NOP)</p>
</div>
