    <p>Escribe tu programa aquí debajo o cárgalo desde un archivo:
      <input tabindex="90" type="button" value="Ejemplo" class="enviar" (click)="asignarCodigoPorDefecto()">
        <input tabindex="90" type="file" (change)="asignarCodigoSubido($event.target.files)" />
    </p>
    <textarea [(ngModel)]="codigo" tabindex="1" rows="20" cols="70" name="ens" wrap="off" autofocus></textarea>
    <p><input tabindex="30" type="checkbox" value="1" name="trazar" /> Obtener trazado de cada instrucción</p>
    <p align="center">
    <input type="submit" tabindex="31" value="¡Ejecutar!" class="enviar" />
    <input type="button" tabindex="32" value="Borrar" class="enviar" (click)="borrarCodigo()">
    </p>
